PdfWriterService.Consumer/Service References/PdfServiceV4/PdfWriterService.V3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="PdfWriterService.V3" elementFormDefault="qualified" targetNamespace="PdfWriterService.V3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="PdfWriterService.Models" />
  <xs:element name="GenerateReburnPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="PdfWriterService.Models" minOccurs="0" name="reburnDto" nillable="true" type="q1:ReburnDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateReburnPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateReburnPDFResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>