PdfWriterService.Consumer/Service References/PdfServiceV4/PdfWriterService.V4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="PdfWriterService.V4" elementFormDefault="qualified" targetNamespace="PdfWriterService.V4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GenerateLargeFakePdfFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileSizeinMegabytes" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateLargeFakePdfFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateLargeFakePdfFileResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>