PdfWriterService.Consumer/Service References/PdfServiceV3/PdfWriterService.V2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="PdfWriterService.V2" elementFormDefault="qualified" targetNamespace="PdfWriterService.V2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HelloWorld2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorld2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloWorld2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>