PdfWriterService.Consumer/Service References/PdfServiceV3/PdfWriterService.V3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="PdfWriterService.V3" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="PdfWriterService.V3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="PdfWriterService.V3/Imports">
      <xsd:import namespace="PdfWriterService.V1" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="PdfWriterService.V2" />
      <xsd:import namespace="PdfWriterService.V3" />
      <xsd:import namespace="PdfWriterService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PdfWriterServiceV3_HelloWorld_InputMessage">
    <wsdl:part xmlns:q1="PdfWriterService.V1" name="parameters" element="q1:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="PdfWriterServiceV3_HelloWorld_OutputMessage">
    <wsdl:part xmlns:q2="PdfWriterService.V1" name="parameters" element="q2:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="PdfWriterServiceV3_HelloWorld2_InputMessage">
    <wsdl:part xmlns:q3="PdfWriterService.V2" name="parameters" element="q3:HelloWorld2" />
  </wsdl:message>
  <wsdl:message name="PdfWriterServiceV3_HelloWorld2_OutputMessage">
    <wsdl:part xmlns:q4="PdfWriterService.V2" name="parameters" element="q4:HelloWorld2Response" />
  </wsdl:message>
  <wsdl:message name="PdfWriterServiceV3_GenerateReburnPDF_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateReburnPDF" />
  </wsdl:message>
  <wsdl:message name="PdfWriterServiceV3_GenerateReburnPDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateReburnPDFResponse" />
  </wsdl:message>
  <wsdl:portType name="PdfWriterServiceV3">
    <wsdl:operation name="HelloWorld">
      <wsdl:input wsaw:Action="PdfWriterService.V1/PdfWriterServiceV1/HelloWorld" message="tns:PdfWriterServiceV3_HelloWorld_InputMessage" />
      <wsdl:output wsaw:Action="PdfWriterService.V1/PdfWriterServiceV1/HelloWorldResponse" message="tns:PdfWriterServiceV3_HelloWorld_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld2">
      <wsdl:input wsaw:Action="PdfWriterService.V2/PdfWriterServiceV2/HelloWorld2" message="tns:PdfWriterServiceV3_HelloWorld2_InputMessage" />
      <wsdl:output wsaw:Action="PdfWriterService.V2/PdfWriterServiceV2/HelloWorld2Response" message="tns:PdfWriterServiceV3_HelloWorld2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateReburnPDF">
      <wsdl:input wsaw:Action="PdfWriterService.V3/PdfWriterServiceV3/GenerateReburnPDF" message="tns:PdfWriterServiceV3_GenerateReburnPDF_InputMessage" />
      <wsdl:output wsaw:Action="PdfWriterService.V3/PdfWriterServiceV3/GenerateReburnPDFResponse" message="tns:PdfWriterServiceV3_GenerateReburnPDF_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>